/* Estilos del contenedor principal */
.banner {
  position: relative;
  width: 100%;
  height: calc(25vh + 25vw);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-size: cover;
  background-position: center right;
  transition: background-image 1s ease-in-out;
  filter: saturate(1.2)	contrast(1.2) brightness(1);
  z-index: 99;
  padding: 0 6%;
  /* Pseudo-elemento para el degradado */
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(16, 59, 100, 0.7), transparent);
    pointer-events: none; /* Permite que los clics pasen a la imagen */
    z-index: 1;
  }
  .overlay {
    position: relative;
    width: 45%;
    color: var(--color_white);
    z-index: 1000;
    h2{
      font-family: var(--font_nunito);
      font-size: clamp(1.5rem, 2.5vw, 3rem); /* Ajusta entre 1.2rem y 2.5rem */
      line-height: clamp(1.6rem, 1.6vw, 2rem); /* Ajusta la separación */
      margin-bottom: 10px;
    }
    p{
      font-size: clamp(0.8rem, 1.3vw, 1rem); /* Ajusta entre 0.8rem y 1.6rem */
      line-height: clamp(1.3rem, 1.8vw, 2rem); /* Más compacto en grandes, más espacio en pequeñas */
      margin-bottom: clamp(10px, 1vw, 20px);
    }
    .title,
    .description {
      opacity: 0; /* Inicialmente oculto */
      transform: translateY(10px); /* Un poco abajo para animación */
      transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }
    /* Clase activa para mostrar */
    .fade-in {
      opacity: 1;
      transform: translateY(0);
    }
    .cta-button {
      display: inline-block;
      background-color: transparent;
      border: 1px solid var(--color_white);
      padding: clamp(10px, 2vw, 15px) clamp(15px, 3vw, 25px); /* Ajusta el tamaño del botón */
      font-size: clamp(0.8rem, 0.9vw, 1rem); /* Ajusta entre 0.8rem y 1.2rem */
      min-width: clamp(120px, 20vw, 180px); /* Evita que el botón se vea demasiado pequeño o grande */
      color: var(--color_white);
      font-weight: 300;
      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      transition: all 0.3s ease-in-out;
      z-index: 2000;
      position: relative;
      overflow: hidden;
      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--color_skyBlue);
        opacity: 0.15;
        transition: left 0.4s ease-in-out;
        &:hover{
          left: 0;
        }
      }
      &:hover{
        background-color: rgba(255, 255, 255, 0.1); /* Sutil cambio de fondo */
        border-color: rgba(255, 255, 255, 0.5); /* Borde ligeramente más visible */
        transform: scale(1.03); /* Pequeño aumento al pasar el mouse */
      }
    }
    @include Mobile{
      justify-content: center;
      width: 95%;
    }
  }
  .indicators {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    .dot {
      width: 12px;
      height: 12px;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out, transform 0.3s;
      &.active{
        background-color: var(--color_white);
        transform: scale(1.2);
      }
    }
  }
}

