@import './banner';
@import './services';
@import './projects';
@import './contact';

.main-content{
  background: url('../assets/img/bg_main.jpg') no-repeat left  top;
  background-size: cover;
  @include Mobile{
    background-image: url('../assets/img/bg_main2.jpg');
  }
}