@import './preloader';
@import './variables';
@import './media-queries';
@import './header';
@import './main';
@import './whatsapp';
@import './footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: var(--font_rubik);
}

body {
  width: inherit;
  height:inherit;
	font-family: inherit;
	background-color: var(--color_white);
	font-size: inherit;
	color:  var(--color_darkBlue) ;
}

.favicon{
  border-radius: 50%;
}

.highlight{
  color: var(--color_skyBlue);
}